@charset "utf-8";
html{
  /* font-size: 62.5%; */
}
*, *::before, *::after{
  /* box-sizing: border-box; */
}
body{
  margin: 0;
  background: url('images/daniel-hehn-NdkM92CRaxg-unsplash_640_426_.jpg');
  width: 700px;
  height: 500px;
  background-size: contain ;
}
/* containについて*/

/* 比率を保ったまま。必ず、最低一枚の画像の全てがブラウザに写る。
widthとheightを指定しないと画像が表示されないのはしていしないとその要素の大きさが0のままだから。 */
/* widthとheight無しでも<h>,<p>など高さを持つ要素があれば画像貼り付けは可能 */
/* 背景領域に収まる最大サイズ=指定領域に最低一枚は入る。 */

/* -----訂正１-----
・「短い法に合わせる」は誤り。html幅を縮めれば画像の小さくなる。html幅を伸ばせば大きくなるか、スクロールバーが出るかのどちらか。短長は関係なし。
・「元画像より大きくなることはない」 も誤り。heightを大きくすれば基本大きくなる。(heightに合わせる感じ)widthが十分あるときは今見てるブラウザのサイズに幅ぴったり合う*/
